<ion-header>
  <ion-navbar>
    <ion-title>
      Debug Bot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item style="margin-bottom: 5vh">
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-list>
      <ion-list-header>
        <ion-title>Please choose an avatar:</ion-title>
      </ion-list-header>
      <ion-item *ngFor="let avatar of avatars" (click)="onAvatarSelect(avatar)" [class.selected]="avatar === selectedAvatar">
        <ion-avatar item-start>
          <ion-img src="{{avatar.src}}"></ion-img>
        </ion-avatar>
        <h2>{{avatar.name}}</h2>
      </ion-item>
    </ion-list>

    
    <div padding>
      <button ion-button color="primary" block (click)="onEnterLobbyClicked()">Enter the lobby</button>
    </div>
  </ion-card>



</ion-content>
