<!--
  Generated template for the GameListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List of games</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="server.games.length != 0">
    <ion-item *ngFor="let game of server.games" (click)="onGameSelect(game)" [class.selected]="game === selectedGame">
      <h2>{{game.name}}</h2>
      <h2>{{game.robots.length}}/{{game.maxPlayers}} players</h2>
    </ion-item>
    
  </ion-list>
  <h2 *ngIf="server.games.length == 0">No game available. Create one !</h2>
</ion-content>
