<!--
  Generated template for the GameDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="selectedGame.name == undefined">game details</ion-title>
    <ion-title *ngIf="selectedGame.name != undefined">{{selectedGame.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="selectedGame.name != undefined"> <!-- We check if a game is actually selected-->
    <div *ngFor="let game of server.games">
      <ion-list *ngIf="game.id == selectedGame.id">
        <ion-item *ngFor="let robot of game.robots">
          <h2>{{robot.name}}</h2>
        </ion-item>            
      </ion-list>
    </div>
  </div>
  
  
</ion-content>
